/*
  Common stuff in all pages
*/

#loading {
  height: 100vh;
  width: 100%;
}

#loading div {
  margin: 0 auto;
}

#loggedStatus {
  position: absolute;
  top: 0em;
  right: 10px;
}

#profilePic {
  border: 1px solid black;
  height: 3em;
  margin: 0 2vh;
}

#division {
  padding: 1px;
  min-height: 50vh;
}

#cubetasticLogo {
  width: 2em;
  margin-bottom: -0.5em;
}

.justify {
  text-align: justify;
}

/*
  Game
*/

#confetti {
  position: absolute;
}

#homeDiv {
  margin: 0 10px;
  width: 100%;
}

#paragraph {
  font-family: 'Roboto Slab';
}

@media (max-width: 100vh) {
  /*
    If the width is lesser than the the height
  */
  :root {
    --game-board-size: 85vw;
    --column-margin-top: -85vw;
  }
}

@media (min-width: 100vh) {
  /*
    If the width is greater than the the height
  */
  :root {
    --game-board-size: 85vh;
    --column-margin-top: -85vh;
  }
}

#gameBoard {
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.25);
  height: var(--game-board-size);
  width: var(--game-board-size);
  margin-left: 8vw;
  overflow: hidden;
}

.column {
  height: var(--game-board-size);
  width: var(--game-board-size);
}

#column2 {
  margin-top: var(--column-margin-top);
  margin-left: 16.6666666667%;
}

#column3 {
  margin-top: var(--column-margin-top);
  margin-left: 33.3333333333%;
}

#column4 {
  margin-top: var(--column-margin-top);
  margin-left: 50%;
}

#column5 {
  margin-top: var(--column-margin-top);
  margin-left: 66.6666666667%;
}

#column6 {
  margin-top: var(--column-margin-top);
  margin-left: 83.3333333333%;
}

.fullTile {
  border: 1px solid rgba(255, 255, 255, 0);
  height: 16.6666666667%;
  width: 16.6666666667%;
}

.tile {
  border-radius: 2px;
  height: 90%;
  width: 90%;
  margin: 5%;
}

.tile.empty {
  background-color: #EEEEEE;
}

.tile.ally {
  background-color: #0D47A1;
  cursor: pointer;
}

.tile.enemy {
  background-color: #F44336;
}

.tile.selected {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*
  Sign up and Sign in Forms
*/

#formHeading {
  border-radius: 7px 7px 0 0;
  font-size: 250%;
}

#signUp, #signIn {
  border-radius: 0 0 7px 7px;
  margin-top: -1.5em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
