{% extends 'layout.html' %}

{% block title %}Surrounded | Info{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <h3 class="col s12">Info</h3>
    </div>
    <div class="row">
      <p class="col s10 flow-text justify">
        Here, you can find instructions to play the strategy game of surrounded. What is so special about 
        this game? Well, you can play against an AI that uses a Neural Network, made using Google's TensorFlow, 
        and try to win!<br><br>
        <span class="red-text">Note: The Neural Network is still in progress. So, right now, the opponent only makes random moves.
        However, we are working on the AI.</span>
      </p>
    </div>
    <div class="row">
      <h4 class="col s12">How to Play</h4>
    </div>
    <div class="row">
      <p class="col s9 flow-text justify">
        The objective of the game is to SURROUND an enemy tile.<br><br>

        The blue tiles are the tiles which you can control, and are called Ally Tiles.<br><br>

        The red tiles belong to your opponent, and are called Enemy Tiles.<br><br>

        The ally and enemy tiles can move to Empty Tiles, which are light grey in colour.<br><br>

        To move an ally tile, you need to first click on it, and then click on the empty tile where you want 
        to move it to. Selected tiles will be higher than unselected tiles, and will have a shadow. To unselect 
        a tile, you can just click on it again.<br><br>

        Tiles can move horizontally and vertically, 1 step at a time. The game ends when an ally or an enemy tile 
        cannot move anywhere, because they are surrounded. Be careful not to surround your own tiles!<br><br>

        In this picture, the Allies win, because the enemy tile can't move anywhere. It is surrounded in 3 sides by Ally Tiles, 
        and in the other side by an Enemy Tile. Remember, to start a new game, you can click on the logo in the header.<br><br><br>


        So now that you know the game, why not <a href="/" class="waves-effect waves-light btn red">Play</a>?
      </p>
      <div class="col s3">
        <br><br><br><br><br><br>
        <img src="/images/ally_tile.png" alt="ally tile"><br>
        <img src="/images/enemy_tile.png" alt="enemy tile"><br>
        <img src="/images/empty_tile.png" alt="empty tile"><br><br><br><br>
        <img src="/images/selected_ally_tile.png" alt="selected ally tile"><br><br><br><br><br>
        <img src="/images/ally_wins.png" alt="allies win">
      </div>
    </div>
    <div class="row">
      <h4 class="col s12">How the game works</h4>
    </div>
    <div class="row">
      <p class="col s9 flow-text justify">
        Note: This section is mostly for developers.<br><br>
        The game is open source, and you can check out the source code <a href="https://github.com/cubetastic33/surrounded">here</a>.
        The UI of the website is based on Google's Material Design, and materialize css has been used to
        implement some of the features. The database used for this website is Google's Firebase. The neural 
        network has been done using Google's TensorFlow.
      </p>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script>
  $('.navbar-fixed nav .nav-wrapper ul li:last-child').addClass('active');
</script>
{% endblock %}
